@model LeftRightNet.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Top Headlines Of The Day</h1>
    @foreach (var news in Model.SiteHeadLines)
    {
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true"><h2>@news.Key</h2></li>
            <li class="list-group-item active" aria-current="true"><h3>Avg Sentiment: @Math.Round(news.Value.Average(x => x.Sentiment.compound), 4)</h3></li>

            @foreach (var snap in news.Value)
            {


                <li class="list-group-item">@snap.ValueText</li>

            }
        </ul>


    }
</div>
